<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-shealth" version="0.0.1">
    <name>SamsungHealth</name>
    <description>Samsung Health Plugin</description>
    <author>Robert Gacki</author>
    <license>MIT</license>
    <keywords>cordova,phonegap,shealth,gear</keywords>
    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <js-module src="www/ShealthPlugin.js" name="ShealthPlugin">
        <clobbers target="window.plugins.shealth" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ShealthPlugin">
                <param name="android-package" value="com.cordova.plugins.shealth.ShealthPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                android:name="com.samsung.android.health.permission.read"
                android:value="com.samsung.shealth.step_daily_trend;com.samsung.health.exercise" />
        </config-file>
        <source-file src="src/android/ShealthPlugin.java" target-dir="src/com/cordova/plugins/shealth" />
        <source-file src="src/android/StepCountReader.java" target-dir="src/com/cordova/plugins/shealth" />
        <source-file src="src/android/ExercisesReader.java" target-dir="src/com/cordova/plugins/shealth" />
        <lib-file src="src/android/samsung-health-data-v1.4.0.jar" />
        <lib-file src="src/android/sdk-v1.0.0.jar" />
    </platform>
</plugin>
